<div class="flex-container-price-row">
  <div class="flex-container-price-column">
    <div><h2>Cena nemovitosti</h2></div>
    <div><p>Vyberte cenu nemovitosti pomocí posuvníku nebo zadejte do políčka.</p></div>
  </div>
  <div class="flex-container-price-column">
    <div>
      <app-slider></app-slider>
    </div>
    <div>
      <app-input-group></app-input-group>
    </div>
  </div>
</div>

<div class="flex-container-amount-row">
  <div class="flex-container-amount-column">
    <div><h2>Zamýšlená výše půjčky</h2></div>
    <div><p>Výše zamýšlené půjčky nemůže přesáhnout 90 % ceny nemovitosti. Zadejte ji pomocí posuvníku nebo políčka.</p>
    </div>
  </div>
  <div class="flex-container-amount-column">
    <div>
      <app-slider></app-slider>
    </div>
    <div>
      <app-input-group></app-input-group>
    </div>
    <div></div>
  </div>
</div>

<div class="flex-container-length-row">
  <div class="flex-container-length-column">
    <div><h2>Zamýšlená délka splácení</h2></div>
    <div><p>Určete dobu splácení hypotéky pomocí posuvníku nebo políčka.</p></div>
  </div>
  <div class="flex-container-length-column">
    <div>
      <app-slider></app-slider>
    </div>
    <div>
      <app-input-group></app-input-group>
    </div>
  </div>
</div>
