<link
  href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
  rel="stylesheet">
<app-tab-menu></app-tab-menu>
<div class="flex-container-second">
  <div><i class="material-icons" style="font-size: 10em">account_box</i></div>
  <div class="flex-container-third">
    <div><h1 class="with-margin">Hypotéční kalkulačka</h1></div>
    <div><h2>Postavte si svůj sen</h2></div>
  </div>
  <div><p>Hypotéční kalkulačka umožňuje klientům sestavit si <b>osobní hypotéční plán</b> na míru na základě výše
    příjmů, zvolené výše půjčky a délky splácení</p></div>
</div>

<h2 class="without-margin">Naše výhody:</h2>
<app-accordion></app-accordion>
<!--<hr>-->
<router-outlet></router-outlet>


