<div class="flex-container-fourth">
  <div>
    <app-card1><b>Jednodenní úrok</b> je výše úroku za jeden den. Je roven výši úvěru vynásobené jednodenní úrokovou
      sazbou.
    </app-card1>
  </div>
  <div>
    <app-card1><b>Jednodenní úroková sazba</b> je přepočet roční úrokové sazby na jeden den. Vypočítává se jako roční
      úroková sazba dělená 360.
    </app-card1>
  </div>
  <div>
    <app-card1>V našem systému splácení (anuitním) je každý měsíc <b>výše splátky stejná</b>. V průběhu času se tak jen
      liší podíl úmoru vůči úroku (úmor roste, úrok klesá, protože se zmenšuje zbytek úvěru - jistina).
    </app-card1>
  </div>
</div>

