<!--<p-toast [style]="{marginTop: '80px'}"></p-toast>-->
<!--<p-accordion [multiple]="true">-->
<p-accordion (onOpen)="onTabOpen($event)">
  <p-accordionTab header="Types of Mortgages" [selected]="true">
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam justo enim, consectetuer nec, ullamcorper ac,
    vestibulum in, elit.
  </p-accordionTab>
  <p-accordionTab header="Installment">
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam justo enim, consectetuer nec, ullamcorper ac,
    vestibulum in, elit.
  </p-accordionTab>
  <p-accordionTab header="Interest Period">
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam justo enim, consectetuer nec, ullamcorper ac,
    vestibulum in, elit.
  </p-accordionTab>
</p-accordion>
